<!-- Portfolio Site designed and developed by Saarah Packeer-->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1"
    />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/portfolio.css" />
    <link rel="stylesheet" href="/resizing.css" />
    <title>Portfolio</title>

    <link
      href="https://fonts.googleapis.com/css?family=Karla"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|Cedarville+Cursive|Amatic+SC|Arapey|Caladea|Cardo|Caveat|Cormorant|Cormorant+Garamond|Crimson+Text|EB+Garamond|Gentium+Basic|Hind+Siliguri|Lora|Neuton|Playfair+Display|Pontano+Sans|Reenie+Beanie|Sawarabi+Gothic|Simonetta|Taviraj|Vidaloka&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta name="description" content="Our first page" />
    <meta name="keywords" content="html tutorial template" />
    <style></style>

    <!-- Include JS !-->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <!-- or -->
    <script src="node_modules/masonry-layout/masonry.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script></script>
  </head>

  <body>
    <!--
<div id="heading">Saarah Packeer</div>
-->
    <div id="fullcontent">

      <div id="sidebar">
        <div id="txt" style="display:flex;">
          <img id="avatar" src="https://cdn.glitch.com/ec05c6ce-7fe4-42b0-839f-11cde141480f%2Fdp3.jpg?v=1617740067676" />
          <p class="author">
            Saarah Packeer 🧁📝📂
          </p>
        </div>

        <div id="desc">
          Hi, my name is Saarah and I am a recent Software Engineering graduate from the Universiiy of Wollongong. This is where I share my projects and other work I have done. Thanks for stopping by! 😊
        </div>

        <!--
        <div class="nav">
          <a href="/">about</a>
          <a href="/">code</a>
          <a href="/">github</a>
          <a href="/">ui-ux/graphics</a>
          <a href="/">linkedin</a>
          <a href="/">instagram</a>
        </div>-->
      </div>
      
  <!--<div id="proj"></div>-->
  
      <div id="grid"></div>
    </div>

    
  <!--<section id="content"></section>-->

  </body>

  <script src="/portfolio.js"></script>
</html>
